<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Student Details</title>
</head>
<body>
<h2>Student Details</h2>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr>
    <td th:text="${student.id}"></td>
    <td th:text="${student.firstName}"></td>
    <td th:text="${student.lastName}"></td>
  </tr>
</table>
<br>
<a th:href="@{/students/all}">Back to List</a>
<br>
<a th:href="@{/students/create}">Create New Student</a> <!-- Add this line -->
</body>
</html>
